.ventanaEmergente {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.5);
}

.ventanaContenido {
  width: 50vw;
  height: 80vh;
  background-color: rgba(2, 33, 32, 0.7);
  border-radius: 20px;
  position: relative;
  display: flex;
  overflow: hidden;
  padding-left: 7%;
  padding-right: 7%;
}

.bordeInterno {
  position: absolute;
  top: 2.5%;
  left: 2.5%;
  width: 96%;
  height: 94%;
  border: 2px solid white;
  border-radius: 16px;
  pointer-events: none;
}

.seccionIzquierda, .seccionDerecha {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.seccionIzquierda img {
  max-width: 98%;
  max-height: 98%;
  object-fit: contain;
}

.seccionDerecha {
  flex-direction: column;
  padding: 20px;
  color: white;
  text-align: center;
}

.cerrarVentana {
  position: absolute;
  top: 5%;
  right: 4%;
  background: none;
  border: none;
  color: white;
  font-size: 2rem;
  cursor: pointer;
  z-index: 2;
  outline: none;
  transition: transform 0.2s ease;
}

.cerrarVentana:focus,
.cerrarVentana:active {
  outline: none;
  box-shadow: none;
}

.cerrarVentana:hover {
  transform: scale(1.1);
}
